body{
    background-color: #EDE1D8;
    color: #333333;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", sans-serif;
}

/*ヘッダー*/
header{
    top: 0px;
    left: 0px;
    width: 100%;
    height:150px;
    background-image: url('header1.jpg');
    display: inline-block;
    margin-bottom: 10px;
}

header img{
    margin-left: 1%;
}

.fadeIn{
animation-name:fadeInAnime;
animation-duration:2s;
animation-fill-mode:forwards;
opacity:0;
}

@keyframes fadeInAnime{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*リスト*/
ul.header-dropmenu{
    text-align: center;
    list-style: none;
    width: 100%;
    height: 40px;
    margin: 12px 0 12px;;
    padding: 5px;
    table-layout: fixed;
    display: inline-block;
    vertical-align: middle;
    display: flex;
}

/*ドロップダウン*/
ul.header-dropmenu > li{
    display: table-cell;
    vertical-align: middle;
    z-index: 10;
}

/*ドロップダウンのリスト*/
ul.header-dropmenu li a{
    display: block;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    text-decoration: none;
    font-size: 13px;
    padding-right: 100px;
    padding-left: 100px;
    color: #fff;
    margin: auto;
}

ul.header-dropmenu li ul{
    visibility: hidden;
    width: 100%;
    list-style: none;
    position: absolute;
    top: 150px;
    padding: 0;
    border-top: none;
    margin: auto;
  
}
ul.header-dropmenu li:hover ul{
    visibility: visible;
    
}

ul.header-dropmenu li ul li{
    transition: all .2s ease;
    width: 28%;
    background-color: rgba(188,169,154,.7);

}

ul.header-dropmenu > li:hover{
    background-color: rgba(0,0,0,.5);
    border-bottom: none;
    
}

ul.header-dropmenu li:hover ul li:hover{ /*ドロップダウンで選ばれたとき*/
    background-color: rgba(0,0,0,.5);
}

h1{
    color: #BCA99A;
    background-color: #fff;
    text-align: center;
    padding: 0.25em;
    border-top: solid 2px #BCA99A;
    border-bottom: solid 2px #BCA99A;
    background: -webkit-repeating-limear-gradient(-45deg,#f0f8ff,#f0f8ff 3px,#e9f4ff 3px,#e9f4ff 7px);
    background: repeating-limear-gradient(-45deg,#f0f8ff,#f0f8ff 3px,#e9f4ff 3px,#e9f4ff 7px);
}

.main{
    text-align: center;
    display: flex;
    width: 100%;
    
}

.main_pic1{
    position: relative;
    text-align: center;
    display: flex;
    width: 100%;
    margin: 15px 10px;
    
}

.main_pic1 img{
    width: 100%;
}

p{
    position: absolute;
    top: 55%;
    left: 17%;
    font-size: 16px;
    padding: 0;
    margin: 0;
    line-height: 200%;
    text-align: center;
    justify-content: space-between;
}

footer{
    clear: left;
    width: 100%;
    height: 30px;
    bottom: 0px;
    left: 0px;
    padding-top: 10px;
    color: white;
    background-image: url('header1.jpg');
    text-align: center;
    font-size: 20px;
}

/* 上に戻るボタン */
.pagetop {
	color: #fff;
	background-color: rgba(0,0,0,0.3);
	text-decoration: none;
	display: none;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	font-size: 1.5rem;
	width: 3.3rem;
	height: 3.3rem;
	line-height: 3.3rem;
	border-radius: 3.3rem;
	text-align: center;
	cursor: pointer;
}

.pagetop:hover {
	color: #fff !important;
	background-color:#BCA99A;
	text-decoration: none;
}
